---
import { flotiq } from "../lib/flotiq";

const products = await flotiq.ProductAPI.list();
---

<html lang="en">
	<title>Products</title>
	<body>
		<h1>My products list</h1>
		{products?.data?.map((product) => (
			<section>
				<h2>{ product.name }</h2>
				<div>{ product.price }</div>
				<div set:html={product.description}/>
			</section>
		))}
	</body>
</html>
